.cart-img{
    width: 80%;
}
.cart{
    text-align: center;
    box-shadow: 0px 0px 20px -11px rgb(0 0 0);
    border-radius: 20px;
    padding: 10%;
    background: whitesmoke;
    height: 90%;
}
.cart-img img{
    width: 60%;
}
.cart-img{
    margin: 0 auto;
}